{% extends "emails/email.html" %}

{% block body %}
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;font-family:Helvetica, arial, sans-serif;">
    <tr align="center">
        <td style="padding: 20px 10px 20px 20px;box-sizing:border-box;">
            <img src="https://vidyut.amrita.edu/static/images/v-logo.png" width="150px">
        </td>
    </tr>
    <tr>
        <td style="padding: 10px 20px 10px 20px; box-sizing:border-box;max-width: 600px;display: block;margin: 0 auto;font-size:16px" bgcolor="white">
        Hello {{ user.fname }}!<br><br>
        Welcome to Vidyut '19. We wish you a wonderful weekend of exploration. Always show your Vidyut Idendity card with you for access to your events and other services. Please follow the instructions inside this mail to ensure proper code of conduct and a wonderful multifest experience.
        <ul>
            <li>All students are advised to obey the instructions given by the Security and Disciplinary volunteers.</li>
            <li>Only students with the entry pass shall be allowed inside the campus.</li>
            <li>All students are obliged to show their ID cards (both institution and Vidyut ID cards) if and when asked by the Security and Disciplinary Volunteers.</li>
            <li>All students should wear their respective Vidyut ID cards while they are in the campus premises.</li>
            <li>In case of any violation of code of conduct, the Vidyut ID shall be confiscated from the participant and it shall remain with the Security and Disciplinary Committee Members till the enquiry is over.</li>
            <li>If found guilty in the aforementioned situation, participation of the guilty shall be terminated.</li>
            <li>If any damage is caused to any college property by any participant/group of participants, the cost of the same will be recovered along with the termination of Vidyut '19 participation.</li>
            <li>Regarding any disputes, the participants have to approach any of the Security and Disciplinary Volunteers without trying to resolve the situation themselves.</li>
            <li>Smoking, alcohol consumption, or any kind of substance abuse is strictly prohibited inside both the campus and hostel premises. Participants found to be under the influence of any of these shall be terminated from Vidyut '19 and the issue will be reported to the respective institution.</li>
        </ul>
        </td>
    </tr>
    <tr>
        <td style="padding: 10px 20px 10px 20px; box-sizing:border-box;max-width: 600px;display: block;margin: 0 auto;font-size:16px" bgcolor="white">
        Please check your inbox regularly for communications from Vidyut. Please do not reply to this mail. For any queries, please send an email to <a href="mailto:support@vidyut.amrita.edu">support@vidyut.amrita.edu</a> or contact an experience manager near you.
        </td>
    </tr>
    <tr>
    <tr align="center">
        <td style="padding: 10px 10px 8px 5px;box-sizing:border-box;">
            <img src="https://www.amrita.edu/sites/default/files/amrita-new-logo-color-10.png" width="180px">
            <p>Clappana P.O<br>Amritapuri, Vallikavu<br>Kerala 690525</p>
        </td>
    </tr>
</table>
{% endblock %}